.logo {
    height: 32px;
    width: 80%;
}

.ant-row-rtl .logo {
    float: right;
    margin: 16px 0 16px 24px;
}

.site-layout-background {
    background: #fff;
}

.site-layout .site-layout-background {
    background: #fff;
}

.connection-title {
    font-size: 11pt;
    color: #fff;
}

.connection-btn {
    height: 32px;
}

.smoothed {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: Noto Sans KR;
    src: url('../assets/fonts/NotoSansKR-Regular.otf') format("opentype");
}